@font-face {
  font-family: "Bold";
  src: url("./assets/Poppins-Bold.ttf");
}

@font-face {
  font-family: "light";
  src: url("./assets/Poppins-Light.ttf");
}

@font-face {
  font-family: "medium";
  src: url("./assets/Poppins-Medium.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --colorTransparente: #34a9e430;
  --colorClaro: #34A9E4;
  --colorOscuro: #005476;
  --blanco: #fff;
  --gris: #e3e3e3;
  --negro: #000;
  --rojo: #d12b2b;
  --verde: #60d12b;
  --naranja: #d18c2b;

  --s: 8px;
  --m: 16px;
  --l: 32px;
  --xl: 64px;
  --xxl: 128px;
}

body{
  width: 100%;
  min-height: 100vh;
}

h1{
  font-family: "bold";
  font-size: 30px;
}

h2{
  font-family: "bold";
  font-size: 30px;
}


h6, button, a, b,label {
  font-family: "medium";
  font-size: 16px;
}

li{
  font-family: "light";
  font-size: 14px;
}

input{
  font-family: "medium";
  font-size: 14px;
}

@keyframes loading {
  from{ transform: rotate(0deg);}
  to{ transform: rotate(360deg);}
}