.user__list{
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  align-content: center;
  width: 100%;
  max-width: 1050px;
}

.user__list .schema{
  display: grid;
  grid-template-columns: 100px 150px 150px 150px 50px 150px 250px ;
  list-style: none;
  background: var(--colorOscuro);
  color: var(--blanco);
  padding: var(--s);
  width:  1050px;
  gap: var(--s);
}

.user__list .schema li{

  font-family: "Bold";
  text-transform: uppercase;
}