.modal__container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #00000060;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s);
  padding: var(--m);
  border-radius: 5px;
  background-color: var(--blanco);
  width: 100%;
  max-width: 300px;
  box-shadow: 15px 15px #00000056;
}

.modal__icon{
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: var(--s);
  border: 5px solid var(--colorClaro)
}

.modal__icon svg{
  color:var(--colorClaro)
}

.modal__container .modal .text__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "light";
  font-size: 16px;
  gap: var(--m);
}

.modal__container .modal button{
  padding: var(--m) var(--xl);
  border-radius: var(--s);
  border:  none;
  background-color: var(--colorClaro);
  color: var(--blanco);
}

