.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--s);
  padding: var(--m);
  background-color: var(--colorOscuro);
  color: var(--blanco);
  border: none;
  border-radius: var(--s);
  transition: gap .3s;
}

.action:hover{
  gap: var(--m);
}

#action__loading svg{
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}